{% extends 'admin/layout.html' %}
{% block title %}Student{% endblock %}
{% block main_conntent %}
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="content-header">
                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <h1 class="m-0" style="text-transform: uppercase">
                                                <i class="fas fa-walking"></i>
                                                Add New Student
                                            </h1>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{ url_for('student') }}">
                                                <button
                                                        type="button"
                                                        class="btn btn-outline-secondary float-right"
                                                >
                                                   <i class="fas fa-arrow-circle-left"></i> Back To List
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('add_student') }}" method="POST">
                                {#--Name--#}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input
                                            type="text"
                                            class="form-control"
                                            required
                                            autocomplete="off"
                                            name="name"
                                    >
                                </div>
                                {#--Gender--#}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Gender</span>
                                    </div>
                                    <select class="form-control" name="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                {#--address--#}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Address</span>
                                    </div>
                                    <input
                                            type="text"
                                            class="form-control" required
                                            autocomplete="off"
                                            name="address"
                                    >
                                </div>
                                {#--phone--#}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Phone Number</span>
                                    </div>
                                    <input type="text" class="form-control" name="phone">
                                </div>

                                <input type="reset" class="btn btn-danger" value="Reset">
                                <input type="submit" class="btn btn-primary float-right" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
