{% extends 'admin/layout.html' %}
{% block title %}
    Student
{% endblock %}

{% block main_content %}
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" style="text-transform: uppercase">
                            <i class="fas fa-walking"></i>
                            Student
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-3">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Featured</h5>
                            </div>
                            <div class="card-body">
                                <form action="{{ url_for('add_student') }}" method="POST">
                                    {#--Name--#}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Name</span>
                                        </div>
                                        <input
                                                type="text"
                                                class="form-control"
                                                required
                                                autocomplete="off"
                                                name="name"
                                        >
                                    </div>
                                    {#--Gender--#}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Gender</span>
                                        </div>
                                        <select class="form-control" name="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    {#--address--#}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Address</span>
                                        </div>
                                        <input
                                                type="text"
                                                class="form-control" required
                                                autocomplete="off"
                                                name="address"
                                        >
                                    </div>
                                    {#--phone--#}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Phone Number</span>
                                        </div>
                                        <input type="text" class="form-control" name="phone">
                                    </div>

                                    <input type="reset" class="btn btn-danger" value="Reset">
                                    <input type="submit" class="btn btn-primary float-right" value="Save">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-9">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless table-striped">
                                <thead>
                                <tr class="bg-secondary">
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in rows %}
                                    <tr>
                                        <td>
                                            <img
                                                    src="/static/image/sting.jpeg"
                                                    class="rounded float-left"
                                                    alt=""
                                                    style="width: 50px; width: 50px"
                                            >
                                        </td>
                                        <td>{{ item.name }}</td>
                                        <td>Male</td>
                                        <td>PP</td>
                                        <td>099774967</td>
                                        <td>
                                            <button
                                                    type="button"
                                                    class="btn btn-outline-warning"
                                            >
                                                <i class="far fa-edit"></i>
                                                Edit
                                            </button>
                                            <button
                                                    type="button"
                                                    class="btn btn-outline-danger"
                                            >
                                                <i class="far fa-trash-alt"></i>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
