<!DOCTYPE html>
<html lang="en">
{% include 'head/head_pos.html' %}
<body>

<div id="app">
    <div>
        {#slide show#}
        <nav class="main-header navbar navbar-expand-md bg-info p-0 m-0">
            <div class="container-fluid p-0 m-0">
                <a href="https://clinic.phama-tech.com/admin" class="navbar-brand">
                    <img src="https://i.pinimg.com/originals/6e/cb/91/6ecb91e73eab30f51b0b29a880338147.png"
                         style="width: 50px;height: 50px;border-radius: 50%">
                </a>
                <marquee>
                <span class="brand-text font-weight-light" style="font-family: Moul;font-size: 20px;color: white">
                    អ៊ុីឌឿងលក់ចាប់ហួយ🥬
                </span>
                </marquee>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                {#product_card#}
                <div class="col-6">
                    {# category #}
                    <div class="row"
                         style="position: sticky; top: 0; z-index: 100"
                    >
                        <div class="col-12 p-1 bg-white"
                             style=" box-shadow: 1px 9px 25px -11px gray"
                        >
                            <button type="button" class="btn btn-outline-info"
                                    style="text-transform: uppercase">category.name
                            </button>
                        </div>
                    </div>
                    {# prouct #}
                    <div class="row mt-1" style="max-height: 85vh; overflow: scroll">
                        <div
                                v-for="item in this.product_list"
                                class="col-lg-2 col-md-6 col-sm-6 col-3 mb-3 mt-3 ml-3 mr-5"
                        >
                            <div
                                    style="width: 150px"
                                    class="card"
                                    @click="selectedItem(item)"
                            >
                                <div class="image-container">
                                    <div class="first">
                                        <div class="d-flex justify-content-between align-items-end">
                                            <span class="discount bg-success">category</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="discount mt-1">-10%</span>
                                        </div>
                                    </div>
                                    <img src="/static/image/sting.jpeg"
                                         class="img-fluid rounded thumbnail-image">
                                </div>
                                <div class="product-detail-container p-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="dress-name">[[ item.name ]]</h5>
                                        <div class="d-flex flex-column mb-2">
                                            <span class="new-price text-dark">[[ item.price ]]$</span>
                                            <del class="old-price text-right"
                                                 style="font-size: 12px; background-color: yellow; color: firebrick"
                                            >
                                                [[ item.price - (item.discount / 100 * item.price) ]]
                                            </del>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div>
                                            <i class="fa fa-star-o rating-star"></i>
                                            <span class="rating-number">4.8</span>
                                        </div>
                                        <span class="buy">BUY +</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#sale_list#}
                <div class="col-6" style="max-height: 85vh; overflow: scroll">
                    <table class="p-0 m-0 table table-borderless table-striped">
                        <thead>
                        <tr class="bg-secondary text-white">
                            <th>ល.រ</th>
                            <th>ការពិពណ៌នា</th>
                            <th>ចំនួន</th>
                            <th>តម្លៃលក់($)</th>
                            <th>បញ្ខុះតម្លៃ(%)</th>
                            <th>សរុប($)</th>
                            <th>សកម្មភាព</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="this.selected_product.length == 0">
                            <td colspan="7" class="text-center">
                                <span style="color: #cccc">no record...</span>
                            </td>
                        </tr>
                        <tr
                                v-for="(item, index) in this.selected_product"
                        >
                            <td>[[ index + 1 ]]</td>
                            <td>[[ item.name ]]</td>
                            <td>
                                <input type="button" value="-" @click="item.qty > 1 ? item.qty-- : item.qty+=0">
                                <input
                                        style="width: 100px; text-align: center"
                                        type="number"
                                        v-model="item.qty"
                                >
                                <input type="button" value="+" @click="item.qty++">
                            </td>
                            <td>[[ item.price ]]</td>
                            <td>0.0 %</td>
                            <td>[[ parseFloat(item.qty) * parseFloat(item.price) ]]</td>
                            <td>
                                <a @click="deleteItem(index)" href="#" class="text-danger">
                                    <i class="fas fa-trash"></i>
                                    លុប
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="row" style="position: sticky; bottom: 10px">
                        <div class="col-12">
                            <table class="table table-sm table-borderless table-striped">
                                <tr>
                                    <td style="text-align: right">Total ($)</td>
                                    <td style="text-align: right">[[ total_price ]] $</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right">Received amount ($)</td>
                                    <td style="text-align: right">
                                        <input
                                                type="number"
                                                class="input w-100"
                                                v-model="received_amount"
                                        >
                                    </td>
                                <tr v-if="received_amount - total_price > 0">
                                    <td style="text-align: right">
                                        <span style="background-color: yellow; color: firebrick"> Change amount ($)</span>
                                    </td>
                                    <td style="text-align: right">[[ received_amount - total_price ]] $</td>
                                </tr>
                                </tr>
                            </table>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-danger w-100" @click="cancelPayment">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button
                                    @click="pay"
                                    type="button"
                                    class="btn btn-success w-100"
                            >Pay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5 pb-5">
    </div>
</div>

</body>
<script>
    var vue_obj = new Vue({
        el: '#app',
        delimiters: ["[[", ']]'],
        data: {
            /*declare variable*/
            message: 'My first VueJS Task',
            group: 'SS3.4',
            color: 'bg-primary',
            product_list: [],
            selected_product: [],
            total_price: 0,
            received_amount: 0,
            change_amount: 0,
            typingTimer: null,
            doneTypingInterval: 1500,
        },
        created() {
            /*run code after page refreshed*/
        },
        methods: {
            changeColor() {
                let arr_color = [
                    'bg-danger',
                    'bg-primary',
                    'bg-secondary',
                    'bg-warning',
                ]
                let item = arr_color[Math.floor(Math.random() * arr_color.length)];
                this.color = item
            },
            selectedItem(item) {
                let dpl = false
                this.selected_product.forEach(obj => {
                    if (obj.name == item.name) {
                        dpl = true
                    }
                })

                if (dpl == false) {
                    this.selected_product.push(
                        {
                            'name': item.name,
                            'qty': 1,
                            'price': item.price,
                            'discount': 0,
                            'image': item.image,
                        }
                    )
                } else {
                    this.selected_product.forEach(obj => {
                        if (obj.name == item.name) {
                            obj.qty++
                        }
                    })
                }
                this.sumSelectedItem()
                this.sound('click');
            },
            sound(type) {
                let click = new Audio('./static/sound/click.mp3');
                let success = new Audio('./static/sound/success.mp3');
                let error = new Audio('./static/sound/error.mp3');
                if (type == 'click') {
                    click.play()
                }
                if (type == 'success') {
                    success.play()
                }
                if (type == 'error') {
                    error.play()
                }
            },
            deleteItem(index) {
                this.sound('error')
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.selected_product.splice(index, 1);
                        this.sumSelectedItem()
                    }
                });
            },
            sumSelectedItem() {
                this.total_price = 0
                this.selected_product.forEach(item => {
                    console.log(item)
                    this.total_price += (parseInt(item.qty) * parseFloat(item.price))
                })
            },
            pay() {
                if (this.received_amount < this.total_price) {
                    this.sound('error')
                    Swal.fire({
                        icon: "warning",
                        title: "Error receive amount",
                        text: "Something went wrong!",
                    });
                } else {

                    let input = {
                        'total_price': this.total_price,
                        'received_amount': this.received_amount,
                        'selected_product': this.selected_product
                    }
                    let formData = new FormData
                    formData.append('total_price', this.total_price)
                    formData.append('received_amount', this.received_amount)
                    formData.append('selected_product', JSON.stringify(this.selected_product))
                    console.log(formData)
                    axios.post('pos/create_transaction', formData).then(response => {
                        console.log(response.data)
                    }).catch(function (error) {
                        alert('error: ' + error.message)
                    });

                    return
                    this.sound('success')
                    Swal.fire({
                        title: "Thank you !",
                        text: "Payment is completed",
                        icon: "success"
                    });
                    clearTimeout(this.typingTimer)
                    this.typingTimer = setTimeout(function () {
                        window.open("http://127.0.0.1:5000/pdf");
                    }, this.doneTypingInterval)
                }
            },
            cancelPayment() {
                this.sound('error')
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, cancel it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.total_price = 0
                        this.received_amount = 0
                        this.selected_product = []
                    }
                });
            }
        },
        mounted() {
            $.LoadingOverlay("show");
            axios.get('http://127.0.0.1:5000/getAllProduct').then(response => {
                this.product_list = response.data
                $.LoadingOverlay("hide");
            })
        }
    });
</script>
</html>
